<!doctype html>
<html lang="en">
<head>
  <title>{{meta.siteName}} — {{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Starter site for people wanting to use 11ty with Deno and Htmx">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css" />
  <style id="styles">{{ getBundle "css" }}</style>
  <script>
    let darkMode = window.localStorage.getItem("darkMode");
    let modeStyles;
    if(darkMode==="true") {
      document.documentElement.classList.add('is-dark')
    }
  </script>
  <script src="https://unpkg.com/htmx.org@latest"></script>
</head>
<body data-hx-boost="true" data-hx-target="#content" data-hx-select="#content" data-hx-swap="outerHTML transition:true show:none">

  {{ include "./_loader.vto" }}
  <h1 aria-live="polite" class="visually-hidden" id="mainHeading">{{title}}</h1>
  <div class="layout">
    {{ include "./_header.vto" }}
    {{ include "./_navigation.vto" }}
    <main id="main">
      <div id="content" aria-live="polite">
      {{ content }}
      </div>
      
    </main>
    {{ include "./_footer.vto" }}
  </div>
  <script>{{ getBundle "js" }}</script>
</body>

</html>