<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1 class="visually-hidden" id="mainHeading" data-hx-swap-oob="innerHTML">{{title}}</h1>
    <div id="content">{{ content }}</div>
  </body>
</html>